@model Rozkaz.Models.OrderEntry
@{
    ViewData["Title"] = "Edycja rozkazu";
    var order = Model.Order;
}
<h2>@ViewData["Title"]</h2>

<p>
<a class="btn btn-warning" role="button" asp-area="" asp-controller="Order" asp-action="Index">
    <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Wróć</a>
<a class="btn btn-info" role="button" asp-area="" asp-controller="Order" asp-action="Show" asp-route-id="@Model.Uid">
    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Wyświetl rozkaz (bez zmian)</a>
</p>
<form id="order_edit" method="post" action="@Model.Uid" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <table class="table table-striped table-condensed" style="font-family: monospace">
            <tr>
                <td width="150">Numer rozkazu:</td>
                <td><input class="form-control" name="info.orderNumber" type="number" min="0" max="99" value="@order.Info.OrderNumber" placeholder="np. 3"  required /></td>
            </tr>
            <tr>
                <td>Miejscowość:</td>
                <td><input class="form-control" name="info.city" type="text" maxlength="30" value="@order.Info.City" placeholder="np. Szczecin" required /></td>
            </tr>
            <tr>
                <td>Data:</td>
                <td><input class="form-control" name="info.date" type="date" value="@order.Info.Date.ToString("yyyy-MM-dd")" required /></td>
            </tr>
            <tr>
                <td>Autor:</td>
                <td><input class="form-control" name="info.author" type="text" value="@order.Info.Author" maxlength="50" placeholder="np. phm. Jan Kowalski" required /></td>
            </tr>
            <tr>
                <td>1. linia nazwy jednostki:</td>
                <td><input class="form-control" name="info.unit.nameFirstLine" type="text" value="@order.Info.Unit.NameFirstLine" maxlength="30" required placeholder="np. 36. Drużyna Harcerska" /></td>
            </tr>
            <tr>
                <td>2. linia nazwy jednostki:</td>
                <td><input class="form-control" name="info.unit.nameSecondLine" type="text" value="@order.Info.Unit.NameSecondLine" maxlength="30" placeholder='np. "Czarne wilki"' /></td>
            </tr>
            <tr>
                <td>Wstęp okolicznościowy:</td>
                <td><textarea class="form-control" name="occassionalIntro" rows="5" placeholder="Opcjonalny wstęp okolicznościowy.">@order.OccassionalIntro</textarea></td>
            </tr>
            <tr>
                <td>Wyjątki z rozkazu:</td>
                <td><textarea class="form-control" name="exceptionsFromAnotherOrder" rows="5" placeholder="Wyjątki z rozkazu wyższego szczebla.">@order.ExceptionsFromAnotherOrder</textarea></td>
            </tr>
        </table>
        <div>
            <button type="submit" class="btn btn-primary center-block"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Zapisz zmiany</button>
        </div>
    </div>
</form>
