@model Rozkaz.Models.OrderEntry
@{
    ViewData["Title"] = "Edycja rozkazu";
    var order = Model?.Order;
}
<h2>@ViewData["Title"]</h2>

<p>
    @if (Model == null)
    {
        var statusCode = Context.Response.StatusCode;
        if (statusCode == 404)
        {
            <div class="alert alert-danger" role="alert">Nie znaleziono podanego rozkazu. Być może został usunięty.</div>
        }
        else if (statusCode == 403)
        {
            <div class="alert alert-danger" role="alert">Nie masz dostępu do tego rozkazu.</div>
        }
    }
    <a class="btn btn-warning" role="button" asp-area="" asp-controller="Order" asp-action="Index">
        <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Wróć
    </a>
    @if (Model != null)
    {
        <a class="btn btn-info" role="button" asp-area="" asp-controller="Order" asp-action="Show" asp-route-id="@Model.Uid">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Wyświetl rozkaz (bez zmian)
        </a>
    }
</p>

@if (Model == null)
{
    return;
}
<form id="order_edit" method="post" action="@Model.Uid" enctype="application/x-www-form-urlencoded">

    <div class="form-group">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></span>
                    <span class="input-group-addon">Rozkaz L.</span>
                    <input class="form-control" name="info.orderNumber" aria-label="Numer rozkazu" type="number" min="0" max="99" value="@order.Info.OrderNumber" placeholder="np. 3" required />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                    <input class="form-control" name="info.author" aria-label="Autor" type="text" value="@order.Info.Author" maxlength="50" placeholder="np. phm. Jan Kowalski" required />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></span>
                    <input class="form-control" name="info.city" aria-label="Miejscowość" type="text" maxlength="30" value="@order.Info.City" placeholder="np. Szczecin" required />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon" id="date-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                    <input class="form-control" name="info.date" aria-label="Data" type="date" value="@order.Info.Date.ToString("yyyy-MM-dd")" required />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <p>Nazwa jednostki:</p>
        <div class="input-group">
            <span class="input-group-addon">1.</span>
            <input class="form-control" name="info.unit.nameFirstLine" aria-label="Nazwa jednostki 1" type="text" value="@order.Info.Unit.NameFirstLine" maxlength="30" placeholder="np. 36. Drużyna Harcerska" required />
        </div>
        <div class="input-group">
            <span class="input-group-addon">2.</span>
            <input class="form-control" name="info.unit.nameSecondLine" aria-label="Nazwa jednostki 2" type="text" value="@order.Info.Unit.NameSecondLine" maxlength="30" placeholder='np. "Czarne wilki"' />
        </div>
    </div>

    <div class="form-group">
        <p>
            Wstęp okolicznościowy:
            <textarea class="form-control" name="occassionalIntro" rows="5" placeholder="Opcjonalny wstęp okolicznościowy.">@order.OccassionalIntro</textarea>
        </p>
        <p>
            Wyjątki z rozkazu:
            <textarea class="form-control" name="exceptionsFromAnotherOrder" rows="5" placeholder="Wyjątki z rozkazu wyższego szczebla.">@order.ExceptionsFromAnotherOrder</textarea>
        </p>
    </div>

    <div class="form-group">
        @*<div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Poniższa część jest w trakcie tworzenia i nie działa.</div>*@


        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Poniższa część jest w trakcie tworzenia i nie działa tak jak należy. Zmiany z tego panelu się nie zapiszą.</h3>
            </div>
            <div class="panel-body">

        <h4>Punkty rozkazu:</h4>
        <h5><b>2. Drużyna</b></h5>
        <b>2.1. Mianowania funkcyjnych</b>

        <!-- single item -->
        <div class="input-group">
            <span class="input-group-addon">Na wniosek </span>
            <input type="text" class="form-control text-center" placeholder="np. Rady Drużyny" />
            @*<div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Rady Drużyny</a></li>
                    <li><a href="#">Kręgu Rady</a></li>
                    <li><a href="#">Zastępu Zastępowych</a></li>
                </ul>
            </div>*@

            <span class="input-group-addon">mianuję</span>
            <input type="text" class="form-control" placeholder="np. ćw. Jana Kowalskiego" />
            <span class="input-group-addon">na funkcję </span>
            <input type="text" class="form-control" placeholder="np. przybocznego" />
            <span class="input-group-addon">z dniem </span>
            <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-danger" aria-label="Usuń punkt">
                    <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                </button>
            </span>
        </div>

        <!-- add new item -->
        <p>
            <div class="input-group">
                <div class="input-group-btn dropup">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj nowy punkt
                    </button>
                    <ul class="dropdown-menu">
                        <li class="text-center"><b>1. Zarządzenia i informacje</b></li>
                        <li><a href="#">1.1. Zarządzenia</a></li>
                        <li><a href="#">1.2. Informacje</a></li>
                        <li role="separator" class="divider"></li>

                        <li class="text-center"><b>2. Drużyna</b></li>
                        <li><a href="#">2.1. Mianowania funkcyjnych</a></li>
                        <li><a href="#">2.2. Zwolnienia funkcyjnych</a></li>
                        <li><a href="#">2.3. Powołania do rady drużyny</a></li>
                        <li><a href="#">2.4. Zwoleniania z rady drużyny</a></li>
                        <li role="separator" class="divider"></li>

                        <li class="text-center"><b>3. Zastępy</b></li>
                        <li><a href="#">3.1. Utworzenia zastępu</a></li>
                        <li><a href="#">3.2. Rozwiązanie zastępu</a></li>
                        <li><a href="#">3.3. Zmiana składu zastępów</a></li>
                        <li role="separator" class="divider"></li>

                        <li class="text-center"><b>4. Instrumenty metodyczne</b></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </div>
            </div>
        </p>
    </div>
            </div>
        </div>


    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary center-block"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Zapisz zmiany</button>
</form>
